<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wsg.xsytrade" >


    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />






    <application
        android:name=".application.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/login_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".ui.SplashActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".ui.LoginActivity"
            android:label="@string/text_login"></activity>
        <activity android:name=".ui.RegisteredActivity"
            android:label="@string/text_registered"></activity>
        <activity android:name=".ui.ForgetPasswordActivity"
            android:label="@string/text_forget_password"></activity>
        <activity android:name=".ui.AboutActivity"
            android:label="@string/text_about"></activity>
        <activity android:name=".ui.BackActivity"
            android:label="@string/text_back"></activity>
        <activity android:name=".ui.DonateActivity"
            android:label="@string/text_donate"></activity>
        <activity android:name=".ui.ShareActivity"
            android:label="@string/text_share"></activity>
        <activity android:name=".ui.UpdateActivity"
            android:label="@string/text_update"></activity>

        <activity android:name=".ui.NewSellActivity"
            android:label="@string/text_add_sell"></activity>
        <activity android:name=".ui.NewBuyActivity"
            android:label="@string/text_add_buy"></activity>
        <activity android:name=".ui.MySellActivity"
            android:label="@string/text_my_sell"></activity>
        <activity android:name=".ui.MyBuyActivity"
            android:label="@string/text_my_buy"></activity>

        <activity android:name=".ui.ChatActivity"></activity>

        <activity android:name=".ui.ModifyMySellActivity"
            android:label="@string/text_modifymysell"></activity>
        <activity android:name=".ui.ModifyMyBuyActivity"
            android:label="@string/text_modifymybuy"></activity>






        <!-- EaseUI中发送图片后查看以及发送地理位置activit注册   -->
        <activity android:name="com.hyphenate.easeui.ui.EaseBaiduMapActivity"/>




        <!--Bmob  实现检查跟新-->
        <activity
            android:name="cn.bmob.v3.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>








        <!-- 设置环信应用的AppKey -->
        <meta-data android:name="EASEMOB_APPKEY"  android:value="1116170727115282#xsytrade" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>


        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowNormalFileActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowVideoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden" />



    </application>

</manifest>